@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    background-color: #000000;
}

#main-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 40px 20px;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    color: #fff;
    font-size: 2em;
    letter-spacing: 1px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

#description {
    color: #fff;
    width: 50%;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

#survey-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 50%;
    padding: 30px;
}

#survey-form label {
    margin-bottom: 20px;
}

#survey-form input {
    margin-top: 8px;
}

#name-label {
    display: flex;
    flex-direction: column;
}

#name-label input {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 400;
}

#email-label {
    display: flex;
    flex-direction: column;
}

#email-label input {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 400;
}

#number-label {
    display: flex;
    flex-direction: column;
}

#number-label input {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 400;
}



#dropdown-label {
    display: flex;
    flex-direction: column;
}

#dropdown {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 400;
}

#selection {
    display: flex;
    flex-direction: column;
}

textarea {
    font-size: 1em;
    padding: 20px 10px;
}



#submit {
    background-color: #E84A6F;
    border: 0;
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
}

